<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="style.css"> 
</head>
<body>

	<h1>{{ header }}</h1>
	<p class="name">{{ Myname }}</p>
	<p class="track">{{ track }}</p>
</body>
</html> 

